.input{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 480px;
    box-shadow: 0px 1px 5px rgb(138, 137, 137);
    border-radius: 7px;
   
}
.inputBox {
    border: none;
    padding: 0.4rem;
    font-size: 1.1rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    resize: none;
}
form button{
    font-size: 1rem;
    padding: 10px ;
    width: 80px;
    background-color: #f5ba13;
    color: #ffff;
    border-radius: 7px;
    border: none;
    align-self: flex-end;
    margin: 3px;
    cursor: pointer;
}

form button:hover{
    background-color: #ffff;
    color: #f5ba13;
    border-style: solid;
    padding: 8px;
}