*:focus{
    outline: none;
}
body{
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    position: relative;
}
header{
    background-color: #f5ba13;
    padding: 1.1rem;
}
header h1{
    font-family: 'McLaren', cursive;
    margin: 0;
    color: #ffff;
}

footer{
    width: 100%;
    background-color: #f5ba13; 
    align-items: center; 
    bottom: 0;
    position: absolute;
    transform: translateY(100%);
}
footer p{
    text-align: center;
    color: #ffff;
} 